<mat-drawer-container class="h-full" autosize>
    <mat-drawer class="!bg-blue-300 p-4 nav-width" #drawer mode="side" >
      <div class="text-base flex justify-center">
        <span>LOGO</span>
      </div>
        <div *ngFor="let item of menuList" class="items-center hover:bg-gray-700 hover:rounded-md hover:max-w-56 hover:h-10 hover:ml-2"
        [ngClass]="{'bg-gray-700 rounded-md max-w-56 ml-2': item.selected}">
        <a *ngIf="item.visible" [routerLink]="item.route"  class="flex text-black ml-5 mt-2 h-10 items-center"
          (click)="selectItem(item)">
          <div class="flex">
            <span class="text-black ml-3 text-base">{{item.name}}</span>
          </div>
        </a>
      </div>
    </mat-drawer>
    <div class="flex" >
        <mat-icon class="hover:scale-105 transition-transform duration-300 cursor-pointer mt-20" aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert" (click)="drawer.toggle()"></mat-icon>
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
  